* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #fff;
    color: #333;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease; /* Transição suave */
}

header.scrolled {
    background-color: #4CAF50; /* Cor de fundo muda quando rola */
    padding: 10px 40px; /* O padding reduz para dar o efeito de redução de tamanho */
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #4CAF50;
}

.conteudo {
    padding-top: 100px;
    text-align: center;
    height: 2000px; /* Apenas para criar uma página rolável */
}

h1 {
    font-size: 2rem;
    margin-top: 100px;
}
