body{
    margin: 0;
   
} 

* {
    border-style: none;
    outline: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(2/3, 1fr);
    grid-template-rows: 700px;
    height: 100vh;
    place-items: center;
    background-image:linear-gradient(rgba(244, 244, 244, 0.2), rgba(241, 241, 241, 0.433)), url("../fotos/fundo.png")    ;

}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: solid 2px #003049;
    border-radius: 10px;
    background-color: white;
}

h1{
    font-size: 50px;
    color: #780000;
}

p{
    color: #003049;
    font-size: 20px;
    margin-top: 8px;
}

input{
    width: 19vw;
    height: 4vh;
    border-radius: 5px;
    border: solid 2px #780000;
    background-color:#fdf0d5 ;
    border-radius: 25px;
   
}

.input2{
    margin-bottom: 25px;
    border: solid #780000 2px;
    background-color: #fdf0d5;
}

button{
    border: solid 2px #034780;
    border-radius: 15px;
    font-size: 14px;
    background-color: #780000;
    color: white;
    width: 10vw;
    height: 5vh;
    margin: 10px 0px 25px;
    cursor: pointer;
}

a{
    color:#003049;
    margin-bottom: 05px;
    text-decoration: none;
}